{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions Service</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <style>
       /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
            <h1 id="AppTitle"><center>MyWayPoints</center></h1>
        </nav>
    </div>
    <form   method="post" >
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit" id="search_button">Search</button>
    </form>
    <div id="map"></div>
    <script>

        function typecastRoutes(routes)
        {

            routes.forEach(function(route)
            {
                route.bounds = asBounds(route.bounds);
                // I don't think `overview_path` is used but it exists on the
                // response of DirectionsService.route()
                route.overview_path = asPath(route.overview_polyline);

                route.legs.forEach(function(leg)
                {

                    leg.start_location = asLatLng(leg.start_location);
                    leg.end_location   = asLatLng(leg.end_location);

                    leg.steps.forEach(function(step){
                        step.start_location = asLatLng(step.start_location);
                        step.end_location   = asLatLng(step.end_location);
                        step.path = asPath(step.polyline);
                    });

                });
            });

        }

        function asBounds(boundsObject)
        {
            return new google.maps.LatLngBounds(asLatLng(boundsObject.southwest),
                                            asLatLng(boundsObject.northeast));
        }

        function asLatLng(latLngObject)
        {
            return new google.maps.LatLng(latLngObject.lat, latLngObject.lng);
        }

        function asPath(encodedPolyObject)
        {

            return google.maps.geometry.encoding.decodePath( encodedPolyObject.points );
        }


      function initMap()
      {

        var markerArray = [];

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 43.0008, lng: -78.7890}
        });



        directionsDisplay.setMap(map);

        {#If get request, show the map with current location#}
        if ({{ flag }}===-1) {
            infoWindow = new google.maps.InfoWindow;


            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        {#if invalid response, alert with message#}
        else if( {{flag}}===0)
        {
            alert('Please Enter Valid Input')
        }

        {#if valid response, plot route#}
        else if({{flag}} ===1)
        {
            var server_response = JSON.parse('{{response | escapejs }}');


            typecastRoutes(server_response['routes']);

            directionsDisplay.setDirections(server_response);

            for (var i = 0; i < markerArray.length; i++) {
                markerArray[i].setMap(null);
            }

             var stepDisplay = new google.maps.InfoWindow;

            <!--console.log({{ weather_list | safe }})-->

             showSteps(server_response, markerArray, stepDisplay, map);

        }

      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
      {#  Function to plot route#}
      function showSteps(directionResult, markerArray, stepDisplay, map) {
        // For each step, place a marker, and add the text to the marker's infowindow.
        // Also attach the marker to an array so we can keep track of it and remove it
        // when calculating new routes.
        var myRoute = directionResult['routes'][0]['legs'][0];
        var weather_dict = JSON.parse('{{weather_dict | safe }}')
          console.log(weather_dict)


        for (var i = 1; i < myRoute['steps'].length+1; i++) {

          var temp = weather_dict[String(i)]
          var marker = markerArray[i] = markerArray[i] || new google.maps.Marker;
          marker.setMap(map);
          marker.setPosition(myRoute['steps'][i-1]['start_location']);
          stepDisplay.open(map, marker);
          <!--console.log(myRoute['steps'][i]['html_instructions']);-->


             {#text = "Name:" + temp.Name.toString();#}

            text =`<div><center><b> <h3>Weather Details<h3> </b></center></div>
                    <div> <b>Name</b>: ${temp.Name.toString()} </div>
                    <div> <b>Description</b>: ${temp.Description.toString()} </div>
                    <div> <b>Temp_Min</b>: ${temp.Temp_Min.toString()}  </div>
                    <div> <b>Temp_Max</b>: ${temp.Temp_Max.toString()} </div>
                    <div> <b>Pressure</b>: ${temp.Pressure.toString()} </div>
                    <div> <b>Humidity</b>: ${temp.Humidity.toString()} </div>
                    <div> <b>Wind_Speed</b>: ${temp.Wind_Speed.toString()} </div>
                    <div> <b>Wind_Degree</b>: ${temp.Wind_Degree.toString()} </div>
                    `

            attachInstructionText(stepDisplay, marker,text, map)
        }

      }

      function attachInstructionText(stepDisplay, marker, text, map) {
        google.maps.event.addListener(marker, 'click', function() {
          // Open an info window when the marker is clicked on, containing the text
          // of the step.
          stepDisplay.setContent(text);
          stepDisplay.open(map, marker);
        });
      }



    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQThVIW-tNgV4Yth_Evk_vbLS4cVQgjgU&callback=initMap&libraries=geometry">
    </script>
  </body>
</html>